@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*Reset Css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}/*

/* Variables */
:root {
    --main-color: #d90429;
    --text-color: #020102;
    --bg-color: #e2e2e2;
}

section {
    padding: 4rem 0rem 2rem;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: block;
    width: 100%;
    position: fixed;
    top : 0;
    left: 0;
    z-index: 100;
}

header.shadow {
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}

header.shadow #search-icon {
    color: var(--text-color);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}

.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
    column-gap: 2rem;
}

.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover,
.navbar .active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#search-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--bg-color);
}

.search-box {
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background-color: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.search-box.active {
    clip-path: circle(144% at 100% 0%);
    transition: 0.5s;
}

.search-box input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}

.home {
    margin-top: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url("../img/Background-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.home-text {
    padding-left: 130px;
}

.home-text h1 {
    font-size: 2.4rem;
}

.home-text span {
    color: var(--main-color);
}

.home-text p {
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}

.btn {
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}

.btn:hover {
    background: #fd052f;
}

.cars-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.cars-container .box {
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.cars-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cars-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.cars-container .box h2 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--bg-color);
    padding: 8px;
    border-radius: 0.5rem;
}

.cars-container .box:hover h2 {
    background: var(--main-color);
    color: var(--bg-color);
    cursor: pointer;
}

.footer {
    padding-top: 3rem;
    background: var(--text-color);
    color: #f6f6f6;
    border-top: 2px solid var(--main-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footer-container .logo {
    color: var(--bg-color);
    margin-bottom: 1rem;
}

.footer-container .footer-box {
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    align-items: center;
}

.social a {
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;
}

.social a:hover {
    color: var(--main-color);
}

.footer-box h3 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.footer-box a {
    color: #818181;
    margin-bottom: 10px;
}

.footer-box a:hover {
    color: var(--bg-color);
}

.copyright {
    background: var(--text-color);
    text-align: center;
    color: var(--bg-color);
    padding: 20px;
}

ul{
    margin-left: 2rem;
}

/*Payment*/
.heading3{
    margin-left: 260px;
    margin-right: 260px;
}
.heading3 span{
    font-weight: 620;
    color: var(--main-color);
    font-size: 4.5rem;
}
.heading4 span {
    font-size: 1.3rem;
    color: var(--main-color);
    margin-left: 700px;
}
.heading3 p{
    font-size: 0.938rem;
    font-weight: 400;
    margin-left: 100px;

}

.heading3 h3{
    margin-left: 330px;
    margin-right: 100px;
}
