@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

/* header */
header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--bg-color);
}

header.shadow {
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}

header.shadow #search-icon {
    color: var(--text-color);
}

.container1 {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

.nav1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

.nav1 ul {
    margin-bottom: 0px;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
}

.logo1 span {
    color: var(--main-color);
}

.navbar1 {
    display: flex;
    column-gap: 2rem;
}

.navbar1 a {
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}

#search-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
}

.search-box {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.search-box.active {
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}

.search-box input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}