/* Googole fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*Reset Css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}/*

/* Variables */
:root {
    --main-color: #d90429;
    --text-color: #020102;
    --bg-color: #e2e2e2;
}

section {
    padding: 4rem 0 2rem;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: block;
    width: 100%;
    position: fixed;
    top : 0;
    left: 0;
    z-index: 100;
}

header.shadow {
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}

header.shadow #search-icon {
    color: var(--text-color);
}

#navbar {
    margin-top: 0.5rem;
}

#navbar:hover {
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}

.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
    column-gap: 2rem;
}

.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover,
.navbar .active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#search-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--bg-color);
}

.search-box {
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background-color: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.search-box.active {
    clip-path: circle(144% at 100% 0%);
    transition: 0.5s;
}

.search-box input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}

.home {
    margin-top: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background-size: cover;
    background: url("../img/payment/Background-home.png") no-repeat center left;
}

.home-text {
    padding-left: 130px;
}

.home-text h1 {
    font-size: 2.4rem;
}

.home-text span {
    color: var(--main-color);
}

.home-text p {
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}

.btn {
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}

.btn:hover {
    background: #fd052f;
}

.heading {
    text-align: center;
    margin-bottom: 30px;
}

.heading span {
    font-weight: 500;
    color: var(--main-color);
}

.heading p {
    font-size: 0.938rem;
    font-weight: 300;
}

.cars-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.cars-container .box {
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.cars-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cars-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

#box-a {
    color: var(--text-color);
}

.cars-container .box h2 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--bg-color);
    padding: 8px;
    border-radius: 0.5rem;
}

.cars-container .box:hover h2 {
    background: var(--main-color);
    color: var(--bg-color);
    cursor: pointer;
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

.about-img {
    flex: 1 21rem;
}

.about-text {
    flex: 1 21rem;
}

.about-text span {
    font-weight: 500;
    color: var(--main-color);
}

.about-text h2 {
    font-size: 1.7rem;
}

.about-text p {
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}

.parts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.parts-container .box {
    flex: 1 17rem;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border-radius: 0.5rem;
}

.parts-container .box img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
}

.parts-container .box h3 {
    font-size: 1.1rem;
    font-weight: 600;
}

.parts-container .box span {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
}

.parts-container .box .bx {
    color: var(--main-color);
    margin: 0.8rem 0;
}

.parts-container .box .btn {
    max-width: 120px;
}

.parts-container .box .details {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color: var(--text-color);
}

.parts-container .box .details:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.blog-container .box {
    flex: 1 13rem;
    padding: 20px;
}

.blog-container .box img {
    min-height: 196.59px;
}

.blog-container .box:hover {
    background: #f6f6f6;
}

.blog-container .box span {
    font-size: 0.8rem;
    color: var(--main-color);
}

.blog-container h3 {
    font-size: 1.2rem;
}

.blog-container .box p {
    font-size: 0.938rem;
    margin: 4px 0;
}

.blog-container .box .blog-btn {
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--text-color);
}

.blog-container .box .blog-btn .bx {
    font-size: 20px;
}

.blog-container .box .blog-btn:hover {
    color: var(--main-color);
    column-gap: 0.7rem;
    transition: 0.4s;
}

.footer {
    padding: 3rem 15rem 5rem;
    background: var(--text-color);
    color: #f6f6f6;
    border-top: 2px solid var(--main-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footer-container .logo {
    color: var(--bg-color);
    margin-bottom: 1rem;
}

.footer-container .footer-box {
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    align-items: center;
}

.social a {
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;
}

.social a:hover {
    color: var(--main-color);
}

.footer-box h3 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.footer-box a {
    color: #818181;
    margin-bottom: 10px;
}

.footer-box a:hover {
    color: var(--bg-color);
}

.copyright {
    background: var(--text-color);
    text-align: center;
    color: var(--bg-color);
    padding: 20px;
}

.text-container h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-right: 300px;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin: 10px;
}

ul{
    margin-left: 2rem;
}
.list_items{
    list-style-type: disc;

}
.content_header{
    margin-bottom: 1rem;
}
.Maintenace_container{
    margin-left: 300px;
    margin-right: 200px;
}


.text_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 100px;
    margin-right: 110px;
}

.process_item{
    list-style-type:none;
    margin-bottom: 0.5rem;
}

/*About*/

.ab {
    display: flex;
    margin-bottom: 4rem;
}

.ab1 img {
    max-width: 500px;
    max-height: 375px;
    margin-left: 10rem;
}

.ab1 {
    width: 60%;
}

.ab2 {
    align-items: center;
    width: 40%;
}

.ab2 h2 {
    font-weight: 550;
    font-size: 30px;
    margin-top: 1rem;
    margin-right: 10rem;
}
.ab2 p {
    margin-right: 10rem;
}

.ab3 {
    margin-left: 1rem;
    margin-top: 4rem;
}
.ab3 p a {
    color: rgba(0, 0, 0, 0.56);
    text-decoration: underline;
}

/*Payment*/
.heading3{
    margin-left: 260px;
    margin-right: 260px;
}
.heading3 span{
    font-weight: 620;
    color: var(--main-color);
    font-size: 4.5rem;
}
.heading4 span {
    font-size: 1.3rem;
    color: var(--main-color);
    margin-left: 700px;
}
.heading3 p{
    font-size: 0.938rem;
    font-weight: 400;
    margin-left: 100px;

}

.heading3 h3{
    margin-left: 330px;
    margin-right: 100px;
}

.copyright {
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}
